.link-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.link-list a {
  display: inline-flex;
  align-items: center;
  padding: 0.45rem 0.75rem;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.06);
  height: 3rem;
  border: 1px solid #ffffff26;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.link-list a:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff40;
  transform: translateY(-2px);
}
